<main class="container-lg d-flex justify-content-center p-0">

    <div class="row p-0 p-md-4 w-100 h-100">

        <div class="col-12 col-lg-4 trans hide">
            <h4 class="mb-3 text-light">DODAJ NOVI TASK</h4>
            <app-add
            (formData) = "taskAdd($event)"
            ></app-add>
            
        </div>

        <div 
        class="col-12 col-lg-8 mt-lg-0 mt-3">
        <h4 class="mb-3 text-light">LISTA TASKOVA</h4>
            <app-list
            [tasks]="tasks"
            (finishedOrNot)="taskFinished($event)"
            (deleteTask) = "deleteTask($event)"
            ></app-list>
        </div>
        
    </div>

</main>