<main class="container bg-light rounded shadow ">

    <div class="row p-4 w-100 h-100 ">
        <div class="col-8 ">
            <h4 class="mb-3">Lista taskova</h4>
            <app-list
            [tasks]="tasks"
            (finishedOrNot)="taskFinished($event)"
            (deleteTask) = "deleteTask($event)"
            ></app-list>
        </div>
        <div class="col-4">
            <h4 class="mb-3">Dodaj novi task</h4>
            <app-add
            (formData) = "taskAdd($event)"
            ></app-add>
        </div>
    </div>

</main>